.gover_search{ position:relative; z-index:99; top:50px; height:63px; border:1px solid #b8cfe6; border-bottom:0;}  
.gover_search_form{height:36px;}  
.gover_search .input_search_key{ float:left; width:100%; height:18px; padding:16px 3px; margin-right:5px; border:1px solid #cccccc; line-height:18px; background:#FFFFFF;}  
.gover_search .search_btn{ float:left; width:68px; height:26px; overflow:hidden; border:1px solid #cccccc; text-align:center; color:#ff3300; letter-spacing:5px;cursor:pointer; font-weight:bold;}  
.gover_search .search_suggest{ position:absolute; z-index:999;top:34px; width:100%; height:30px;border:1px solid #999999; display:none; }  
.gover_search .search_suggest li{height:24px; overflow:hidden; padding-left:3px; line-height:24px; background:#FFFFFF; cursor:default;}  
.gover_search .search_suggest li.hover{background:#DDDDDD;} 

#setting_container{
	position:absolute; 
	z-index:999;
	top:50px; 
	width:100px; 
	border:1px solid #999999;
	right: 0px;
}

#setting_container ul li{
	height: 24px;
	line-height: 24px;
	text-align: center;
	font-size: 12px;
	border-bottom:1px solid #000; 
}


.feedback_form{
	position: absolute;
	top: 60px;
	text-align: center;
}